<link rel="stylesheet" href="/css/styleAds.css">

<div class="table-responsive">
    <table class="table table-striped">
        <% var columns = 3; %>
        <% for(var lig = 0; lig < params.obj.length; lig) { %>
        <tr colspan="<%= columns %>">
            <% for(var col = 0; col < columns; col++) { %>

            <td id="selectAdImage" style="cursor:pointer;"
                onclick="location.href = '/content/detail?id=<%= params.obj[lig].id %>';">
                <% var larg = 350; var haut = 350; %>
                <% var isAvailable = params.obj[lig].propertyStatus === "Available"; %>
                <% var imagesExists = (params.obj[lig].src_images != undefined); %>

                <!-- Div permettant de mettre en superposition l'image principale de l'annonce et la croix rouge si le bien est vendu/loué -->
                <div class="containerdiv">
                    <% if(! isAvailable) { %>
                    <img class="img-responsive cornerimage" src="../../../images/nondispo.png" alt="images/nondispo.png"
                        title="<%= params.obj[lig].title %>" width="<%= larg %>" height="<%= haut %>">
                    <% } %>

                    <img class="img-responsive rounded b-lazy b-loaded"
                        src="../../../<%= (imagesExists ? params.obj[lig].src_images[0] : "images/none.jpg") %>"
                        alt="<%= params.obj[lig].title %>" title="<%= params.obj[lig].title %>" width="<%= larg %>"
                        height="<%= haut %>">
                </div>

                <!-- Div permettant d'afficher les premières informations concernant le bien (Titre, prix, disponibilité, type) -->
                <div class="info">
                    <table style="margin-left: 32px;" width="<%= larg %>">
                        <tr>
                            <td><%= params.obj[lig].title %></td>
                            <td id="<%= (isAvailable ? "selectAdAvaila" : "selectAdUnavaila") %>" rowspan="2">
                                <%= (isAvailable ?
                                    "("+params.obj[lig].propertyStatus+") "+params.obj[lig].propertyType :
                                    params.obj[lig].propertyStatus)
                                %>
                            </td>
                        </tr>
                        <tr>
                            <td><%= params.obj[lig].price %></td>
                        </tr>
                    </table>
                </div>
            </td>

            <%  lig++;
                if(lig >= params.obj.length)
                col = columns;
            } %>
        </tr>
        <% } %>
    </table>
</div>