<link rel="stylesheet" href="/css/styleAds.css">

<div class="table-responsive">
    <table class="table table-striped">
        <% var nbColonne = 3; %>
        <% for(var lig = 0; lig < params.ads.length; lig) { %>
        <tr colspan="<%= nbColonne %>">
            <% for(var col = 0; col < nbColonne; col++) { %>

            <td id="selectAdImage" style="cursor:pointer;"
                onclick="location.href = '/content/detail?id=<%= params.ads[lig].id %>';">
                <% var larg = 350; var haut = 350; %>
                <% var estDispo = params.ads[lig].propertyStatus === "Available"; %>
                <% var imagesExiste = (params.ads[lig].src_images != undefined); %>

                <!-- Div permettant de mettre en superposition l'image principale de l'annonce et la croix rouge si le bien est vendu/loué -->
                <div class="containerdiv">
                    <% if(! estDispo) { %>
                    <img class="img-responsive cornerimage" src="../../../images/nondispo.png" alt="images/nondispo.png"
                        title="<%= params.ads[lig].title %>" width="<%= larg %>" height="<%= haut %>">
                    <% } %>

                    <img class="img-responsive rounded b-lazy b-loaded"
                        src="../../../<%= (imagesExiste ? params.ads[lig].src_images[0] : "images/none.jpg") %>"
                        alt="<%= params.ads[lig].title %>" title="<%= params.ads[lig].title %>" width="<%= larg %>"
                        height="<%= haut %>">
                </div>

                <!-- Div permettant d'afficher les premières informations concernant le bien (Titre, prix, disponibilité, type) -->
                <div class="info">
                    <table style="margin-left: 32px;" width="<%= larg %>">
                        <tr>
                            <td><%= params.ads[lig].title %></td>
                            <td id="<%= (estDispo ? "selectAdDispo" : "selectAdIndispo") %>" rowspan="2">
                                <%= (estDispo ?
                                                        "("+params.ads[lig].propertyStatus+") "+params.ads[lig].type :
                                                        params.ads[lig].propertyStatus)
                                                    %>
                            </td>
                        </tr>
                        <tr>
                            <td><%= params.ads[lig].price %></td>
                        </tr>
                    </table>
                </div>
            </td>

            <%  lig++;
                if(lig >= params.ads.length)
                col = nbColonne;
            } %>
        </tr>
        <% } %>
    </table>
</div>