<script type="text/javascript" src="/js/detail.js"></script>
<link rel="stylesheet" href="/css/detail.css">

<div class="container" style="margin-top: 1em;">
    <div class="row">

        <% var imagesExists = (params.ad.src_images != undefined); %>

        <!-- Div permettant de mettre en superposition l'image principale de l'annonce et la croix rouge si le bien est vendu/loué -->
        <div class="col-sm">
            <!-- Image principal qui est affiché -->
            <div class="text-center">
                <img id="myImageView" class="replace-2x img-responsive b-lazy b-loaded"
                src="../../../<%= (imagesExists ? params.ad.src_images[0] : "images/none.jpg") %>"
                alt="<%= params.ad.title %>" title="<%= params.ad.title %>" itemprop="image" height="230px"
                style="border:1px solid darkslategray; max-width:100%; max-height:230px" />
            </div>

            <!-- Liste de toutes les images liées à l'annonce. Au clic sur l'une d'elle, l'image principal affiché (ci-dessus) est remplacé par celle selectionné -->
            <div class="listImage" style="margin-top: 1em;">
                <% if(imagesExists) { %>
                <% for(var ind = 0; ind < params.ad.src_images.length; ind++) { %>
                <img class="imgSelection" src="../../../<%= params.ad.src_images[ind] %>" width="40px" height="40px"
                    style="border: 1px solid darkslategray; cursor:pointer"
                    onclick="switchImage('../../../<%= params.ad.src_images[ind] %>')" />
                <% } %>
                <% } %>
            </div>
        </div>

        <!-- Div permettant d'afficher les informations les plus importantes concernant le bien (Titre, prix, disponibilité, type, date de dispo) -->
        <div class="col-sm-4">
            <% var isAvailable = params.ad.propertyStatus === "Available"; %>

            <h2 style="margin-bottom: 0; color:#03225C;"><%= params.ad.title %></h2>
            <i id="<%= (isAvailable ? "selectAdDispo" : "selectAdIndispo") %>">
                <%= (isAvailable ?
                    "Available " :
                    "UNAVAILABLE ")
                %>

                <% if (isAvailable) { %>
                <%= (params.ad.type === "Sale" ?
                    "for sale" :
                    "for rent")
                %>
                <% } %>
            </i>

            <br><br><br>
            <h3 style="color:#03225C;">
                Price : <%= params.ad.price %> € <%= (params.ad.propertyType === "Rent" ? " / month " : "") %> 
            </h3>

            <br><br>
            <p class="text-start fs-4">Available from : <%= params.ad.date %></p>
        </div>
    </div>

    <hr class="bg-danger border-2 border-top border-danger">

    <!-- Row permettant d'afficher tout le contenu de la description du bien -->
    <div class="row">
        <div class="gx-4 gx-lg-5 justify-content-center">
            <div>
                <h2 style="color:#03225C;">Description du bien</h2>

                <p>
                <% if(params.ad.description != undefined) { %> 
                    <% let splitDescipt = params.ad.description.split('\n'); %>
                
                    <% for(let ind=0; ind<splitDescipt.length; ind++) { %> 
                    <%= splitDescipt[ind] %><br>
                    <% } %>
                <% } %>
                </p>
            </div>
        </div>
    </div>

    <hr class="bg-danger border-2 border-top border-danger">

    <!-- Row permettant d'afficher tout les commentaires liés a ce bien -->
    <div class="row">
        <div class="gx-4 gx-lg-5 justify-content-center">
            <div>
                <h2 style="color:#03225C;">Comments</h2>
    
                <p>
                    truc
                </p>
            </div>
        </div>
    </div>

</div>

<br><br><br><br>