<script type="text/javascript" src="/js/detail.js"></script>
<link rel="stylesheet" href="/css/detail.css">

<div id="startPage" class="container">
    <div class="row">

        <% var imagesExists = (params.ad.images != undefined); %>

        <!-- Div allowing to overlay the main image of the ad and the red cross if the property is sold/rent -->
        <div class="col-sm">
            <!-- Main image that is displayed -->
            <div class="text-center">
                <img id="myImageView" class="replace-2x img-responsive b-lazy b-loaded"
                    src="<%= (imagesExists ? params.ad.images[0].content : "images/none.jpg") %>"
                    alt="<%= params.ad.title %>" title="<%= params.ad.title %>" itemprop="image" height="230px" />
            </div>

            <!-- List of all the images linked to the ad. When clicking on one of them, the main image displayed (above) is replaced by the selected one -->
            <div class="listImage">
                <% if(imagesExists) { %>
                <% for(var ind = 0; ind < params.ad.images.length; ind++) { %>
                <img class="imgSelection" src="<%= params.ad.images[ind].content %>" width="40px" height="40px"
                    onclick="switchImage('<%= params.ad.images[ind].content %>')" />
                <% } %>
                <% } %>
            </div>
        </div>

        <!-- Div to display the most important information about the property (Title, price, availability, type, availability date) -->
        <div class="col-sm-4">
            <% var isAvailable = params.ad.propertyStatus === "Available"; %>

            <h2 class="textColorProperty" style="margin-bottom: 0;"><%= params.ad.title %></h2>
            <i id="<%= (isAvailable ? "selectAdDispo" : "selectAdIndispo") %>">
                <%= (isAvailable ?
                    "Available " :
                    "UNAVAILABLE ")
                %>

                <% if (isAvailable) { %>
                <%= (params.ad.propertyType === "Sale" ?
                    "for sale" :
                    "for rent")
                %>
                <% } %>
            </i>

            <br><br><br>
            <h3 class="textColorProperty">
                Price : <%= params.ad.price %> € <%= (params.ad.propertyType === "Rent" ? " / month " : "") %>
            </h3>

            <br><br>
            <p class="text-start fs-4">Available on : <%= params.ad.formatedDate %></p>
        </div>
    </div>

    <hr class="bg-dark border-2 border-top border-dark">

    <!-- Row to display the entire content of the property description -->
    <div class="row">
        <div class="gx-4 gx-lg-5 justify-content-center">
            <div>
                <h2 class="textColorProperty mb-3">Description</h2>
                <p>
                    <% if(params.ad.description != undefined) { %>
                    <% let splitDescipt = params.ad.description.split('\n'); %>

                    <% for(let ind=0; ind<splitDescipt.length; ind++) { %>
                    <%= splitDescipt[ind] %><br>
                    <% } %>
                    <% } %>
                </p>
            </div>
        </div>
    </div>

    <hr class="bg-dark border-2 border-top border-dark">

    <!-- Row permettant d'afficher tout les commentaires liés a ce bien -->
    <div class="row">
        <div class="gx-4 gx-lg-5 justify-content-center">
            <div>
                <h2 class="textColorProperty">Comments</h2>
                <% if(typeof user !== 'undefined') { %>
                <div class="form-row mt-3">
                    <form action="/content/detail/question" method="post" class="input-group mb-3">
                        <input type="text" class="form-control" id="question" name="question"
                            placeholder="What is your question ?" required>
                        <input type="hidden" name="id" value="<%= params.ad.id %>">
                        <button class="btn btn-outline-secondary" type="submit">Confirm</button>
                    </form>
                </div>
                <hr />
                <% } %>
                <% if(params.ad.comments != undefined && params.ad.comments.length > 0) { %>
                <div class="form-row">
                    <% for(let indQuest=0; indQuest<params.ad.comments.length; indQuest++) { %>
                    <div class="form-group col-md mt-4">
                        <label class="mb-2">Question :
                            <span class="question-bold"><%= params.ad.comments[indQuest].question %></span>
                            -
                            <span class="question-italic"><%= params.ad.comments[indQuest].user %></span>
                        </label>
                        <% if(params.ad.comments[indQuest].answers != undefined) { %>
                        <% for(let indAns=0; indAns<params.ad.comments[indQuest].answers.length; indAns++) { %>
                        <div class="bg-light py-2">
                            <span
                                class="question-bold"><%= params.ad.comments[indQuest].answers[indAns].content %></span>
                            -
                            <span class="question-italic">Maxime Caricand</span>
                        </div>
                        <% } %>
                        <% } %>
                        <% if(typeof user !== 'undefined' && user.accountType === 'agent') { %>
                        <form action="/content/detail/answser" method="post" class="input-group mb-3 mt-2">
                            <textarea id="answser" rows="3" type="text" name="answser" class="form-control"
                                placeholder="Your response" required></textarea>
                            <input type="hidden" name="questionIndex" value="<%= indQuest %>">
                            <input type="hidden" name="id" value="<%= params.ad.id %>">
                            <button class="btn btn-outline-secondary" type="submit">Confirm</button>
                        </form>
                        <% } %>
                    </div>
                    <hr />
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</div>

<br><br><br><br>