<!DOCTYPE html>
<html>
<head>
    <%- include('../../partials/head'); %>

    <style>
        #selectAdImage:hover {
            background-color: rgba(25, 186, 186, 0.2);
        }
        #selectAdDispo {
            color: rgba(13, 175, 48, 0.8);
        }
        #selectAdIndispo {
            color: rgba(253, 27, 27, 0.8);
        }
        table.info td{
            font: bold;
        }
        table.info td.disponibilite {
            margin-top: 0;
            text-align: right;
        }
    </style>
</head>


<body class="container">
    <header>
        <%- include('../../partials/header'); %>
    </header>


    <main>
        <h1>Voici les différentes annonces du moment</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <% var nbColonne = 3; %>
                <% for(var lig = 0; lig < obj.length; lig) { %>
                    <tr colspan="<%= nbColonne %>">
                        <% for(var col = 0; col < nbColonne; col++) { %>
                            
                            <td id="selectAdImage" style="cursor:pointer;" onclick="location.href = '/content/ads/detail?id=<%= ads[lig].id %>';">
                                <div style="text-align: center;" class="image-container">
                                    <img class="replace-2x img-responsive b-lazy b-loaded"
                                    src="../../../<%= obj[lig].src_images[0] %>"
                                    alt="<%= obj[lig].title %>"
                                    title="<%= obj[lig].title %>"
                                    itemprop="image" width="350" height="350">
                                </div>
                                <div class="info">
                                    <table>
                                        <tr style="text-align: center;">
                                            <td><%= obj[lig].title %></td>
                                            <% var estDispo = obj[lig].status === "DISPONIBLE"; %>
                                            <td id="<%= (estDispo ? "selectAdDispo" : "selectAdIndispo") %>" rowspan="2">
                                                <%= (estDispo ?
                                                    "("+obj[lig].status+") "+obj[lig].type :
                                                    obj[lig].status)
                                                %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><%= obj[lig].price %></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                        <%  lig++;
                            if(lig >= obj.length)
                                col = nbColonne;
                        } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </main>
    

    <%- include('../../partials/footer'); %>
</body>
</html>
