<!DOCTYPE html>
<html>
<head>
    <%- include('../../partials/head'); %>
</head>


<body class="container">
    <header>
        <%- include('../../partials/header'); %>
    </header>


    <main>
        <h1>Regardons en détail l'annonce : '<%= ad.title %>'</h1>
        
        <div class="row" style="border:none; background:transparent; height:280px;">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <img class="replace-2x img-responsive b-lazy b-loaded"
                src="../../../<%= ad.src_images[0] %>"
                alt="<%= ad.title %>"
                title="<%= ad.title %>"
                itemprop="image"
                style="border:1px solid darkslategray; max-width:100%; max-height:230px"/>

                <div class="listImage" style="margin-top: 1em;">
                    <% for(var ind = 0; ind < ad.src_images.length; ind++) { %>
                        <img class="imgSelection" src="../../../<%= ad.src_images[ind] %>"
                        width="40px" height="40px" style="border: 1px solid darkslategray; cursor:pointer"/>
                    <% } %>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <h3 style="margin-bottom: 0; color:#03225C;"><%= ad.title %></h3>
                <h3 style="color:#0daf30;"><%= ad.price %></h3>

                <% var descript = ad.description.split('\n'); %>
                <p class="text-justify" style="font-size:12px; color:#03225C;"></p>
                    <% for(var br = 0; br < descript.length; br++) { %>
                        <%= descript[br] %><br>
                    <% } %>
                </p>
            </div>
        </div>
    </main>
    

    <%- include('../../partials/footer'); %>
</body>
</html>
